*{
    padding:0%;
    margin: 0px;
}
header {
    display:flex;
    justify-content: left;
    align-items: left;
    background: #FFFBC1;
}

.pan{
    width: 95px;
    height: 90px;
}

.titulo{
    font: 700;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #F7A4A4;
}